*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
   background-image: url("images/bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
label{
    display: block;
    margin-bottom: 0.5rem;
}

.form-wrapper{
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 2rem;
}

.container{
    background-color: white;
    padding: 3rem 5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 16px;
    animation: fadeIn 0.7s ease-in-out;
}

.form-heading{
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.inputs-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.submit-button{
    margin-top: 2rem;
    width: 100%;
    padding: 0.5rem;
    background-color: lightcoral;
    border-color: lightcoral;
    color: white;
    border-radius: 0.5rem;
}

  .submit-button:hover {
        background-color: rgb(240, 146, 146)
}

.input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 2px solid rgb(182, 182, 182);
}

.alert{
    color: red;
    font-size: 0.8rem;
    margin-top: 0.2rem;
}

@media screen and (max-width: 480px) {
    .form-heading{
        font-size: 1.5rem;
    }

    .container{
        width: 100%;
        padding: 3rem 2rem;
    }
}

@keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateY(-20px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }